# Core Django
Django~=5.2.10
asgiref~=3.11.0
sqlparse~=0.5.5
django-debug-toolbar~=6.1.0

# Database
psycopg2-binary~=2.9.11
dj-database-url

# REST Framework
djangorestframework~=3.16.1
django-filter~=25.2
djangorestframework_simplejwt~=5.5.1
drf-spectacular~=0.29.0

# Images & Media
pillow~=12.1.0
cloudinary~=1.44.1

# HTTP/API
requests~=2.32.5
urllib3~=2.6.3
idna~=3.11
charset-normalizer~=3.4.4
certifi~=2026.1.4
django-cors-headers~=4.9.0

# Testing
pytest~=9.0.2
pytest-mock~=3.15.1
factory-boy~=3.3.3
Faker~=40.1.2
attrs~=25.4.0
pluggy~=1.6.0
iniconfig~=2.3.0
PyYAML~=6.0.3

# JSON Schema
jsonschema~=4.26.0
referencing~=0.37.0
jsonschema-specifications~=2025.9.1
uritemplate~=4.2.0

# Misc utilities
inflection~=0.5.1
Pygments~=2.19.2
PyJWT~=2.10.1
six~=1.17.0
packaging~=25.0

# Static files
whitenoise~=6.11.0

# Production server
gunicorn~=23.0.0

#Enviroment
python-dotenv  #
